@page "{authorId:int}"
@model BookCatalog.Web.Pages.Authors.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h2>@Model.Author.AuthorName</h2>

<div>
    <table class="table">
        <thead>
        <tr><th>Book Title</th></tr>
            </thead>
    @foreach (var book in Model.Books)
    {
        <tr><td>@book.Title</td></tr>
        <tr>
            <td></td>
            <td>@book.Copyright</td>
            <td>@book.Publisher</td>
            <td><img class="img-responsive" height="200" width="130" src=@book.ImageUrl alt=@book.Title /></td>
        </tr>
    }
    </table>

        <a asp-page="./AddBooks" asp-route-authorId="@Model.Author.Id" class="btn btn-primary">Add New Book</a>
  
</div>
